<%= form_with model: room do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.submit "Create Room" %>
    </div>
<% end %>