<div style="border: 1px solid green">
    <%= render "room-list", room: @room %>
</div>
<div style="border: 1px solid green; display: grid; grid-template-rows: 10% 1fr 10%;">
    <div style="border: 1px solid blue;">
        <h1>Messages</h1>
    </div>
</div>