<div style="border: 1px solid green">
    <%= render "room-list" %>
</div>
<div style="border: 1px solid green; display: grid; grid-template-rows: 10% 1fr 10%;">
    <div style="border: 1px solid blue; padding: 1vw;">
        <h1 style="border: 1px solid red; height: 100%; width: 100%; margin: 0;"><%= @room.name %></h1>
    </div>
    <%= render "messages/message", room: @room %>
    <%= render "messages/form" %>
</div>

<style>
    .messages::-webkit-scrollbar {
        display: none;
    }
</style>